
.msg_container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.msg_container::after {
    content: "";
    clear: both;
    display: table;
}

.msg_container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.msg_container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.message-area {
    border: 1px solid #cccccc;
    display: flex;
    margin: 1px;
    padding: 7px 1px;
}

.left-section {
    border: 1px solid #cccccc;
    border-radius: 4px;
    float: left;
    margin: 1px 1px 1px 3px;
    padding: 0;
    width: 17%;
}

.right-section {
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: right;
    margin-right: 0;
    padding: 7px;
    width: 80%;
}

.contact-heading {
    background-color: #cccccc;
    padding: 10px;
}

.send-msg{
    height:50px;
    border:1px solid #ccc;
    border-radius: 5px;
    display: contents;
    
}
.input-msg{
    width:90% !important;
    float:left;
    height: 41px;
    border-radius:5px;
    
}
.sent-btn{
    float:right
}

.message-area .fa.fa-angle-down{
    float:right;
}

.contact-list {
    padding: 0;
    text-align: center;
}

.contact-list li{
    list-style: none;
    padding:4px;
    background: #e9e9e9;
    margin-top:1px
}


.contact-list li.active{
    background: #2F4357;
}

.contact-list li.active a{
    color: #fff;
}

.message-row{
    height: 400px;
    overflow: scroll;

}